html,body {
  font-family: sans-serif;
  font-size: 1em;
}

.wrapper {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 600px) { 
  .wrapper {
    width: 100%;
    margin: 1em;
  }
}